<nav class="navbar navbar-inverse " style="background-color:#00FFFF;color:#FF1493;">
  <div class="container-fluid">
    <div class="navbar-header">


      <a class="navbar-brand" href="#">
          Coursify</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Live Class</a></li>
      <li><a href="#">Vedio Library</a></li>
      <li><a href="#">Course</a></li>
      <li><a href="#">Book</a></li>
      <li><a href="#">Board</a></li>
      <li><a href="#">Exam</a></li>
    </ul>
  </div>
</nav>